= form_for @race do |f|
  = render 'form', f: f
  = f.submit "Update Race"

%ul
  %li
    = link_to "Delete Race", race_path(id: @race.token), method: :delete, data: { confirm: "Are you sure you want to delete this race?" }
