= form_tag races_path, method: :get do
  %fieldset
    Show races from the beginning of
    = date_select 'start_date', 'start_date', {default: start_date, discard_day: true, order: [:month, :year]}
    to the end of
    = date_select 'end_date', 'end_date', {default: end_date, discard_day: true, order: [:month, :year]}
    %input(type="submit" value="Filter")

#map(style='width: 1020px; height: 500px;')

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {
  zoom: 3,
  center: new google.maps.LatLng(39.5, -98.35)
  }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @races.to_json});
    handler.fitMapToBounds();
  });
