= form_tag list_races_path, method: :get do
  %fieldset
    Show races from the beginning of
    = date_select 'start_date', 'start_date', {default: start_date, discard_day: true, order: [:month, :year]}
    to the end of
    = date_select 'end_date', 'end_date', {default: end_date, discard_day: true, order: [:month, :year]}
    %input(type="submit" value="Filter")

= render 'race_table', races: @races
