=link_to "Add a Classified", :new_classified

%table.race
  %thead
    %tr
      - ["Title", "Price", "Location"].each do |th|
        %th= th
  %tbody
    - classifieds.each do |classified|
      %tr
        %td= link_to(classified.title, classified_path(classified))
        %td= link_to(classified.price, classified_path(classified))
        %td= link_to(classified.full_address, classified_path(classified))
