a
  text-decoration: none
  color: #000
  &:hover
    color: #777
body
  background-color: #F6F6F6

  nav
    margin: 0 auto
    margin-bottom: 20px
    max-width: 1020px
    background: #efefef
    height: 55px
    top: 0
    font-size: 16px
    li
      float: left
      display: block
      margin: 4px 20px 0 0
      list-style-type: none
      padding: 0 15px
      a
        display: block
        line-height: 55px
        color: #c4c2c2
        &:hover
          color: black
        &.active
          border-top: 4px solid #30c4c9
          a
            color: #30c4c9

.container
  max-width: 1020px
  margin: 0px auto
  background-color: #fff
  border: 1px solid #ccc
  padding: 10px

  .flash
    position: relative
    padding: 18px 30px 8px 50px
    margin: 0 0 20px 0
    border-top: 1px solid #30c4c9
    background: red
    h2
      padding: 0 0 5px 0
      font-size: 18px
      font-weight: normal
      color: #30c4c9
    p
      padding: 0 0 15px 0
      font-size: 16px

  .success
    background: green
    color: white
  .sent_message
    display: none
    padding: 20px 10px
    font-size: 16px
    color: #ffffff
    background: #242323
  form
    text-align: center
    padding-bottom: 20px
    input
      width: 250px
    textarea
      width: 250px
      height: 200px
    span.error
      color: red

  header
    padding: 30px

  table.race
    width: 100%
    td
      padding-left: 20px
    td + td
      min-width: 80px
    tr
      &:hover
        & td
          background: yellow
      &.date
        font-weight: bold
        text-align: center
        background: #efefef
